@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nanum+Gothic&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    background-color: #fffdf1 !important;
    font-family: "Nanum Gothic", sans-serif !important;
    overflow-x: hidden !important;
}

.kaji-we-o {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.custom-color-card-type-1-pink {
    color: #F4A5D2 !important;
}

.custom-color-card-middle-text {
    font-size: 1.65rem !important;
}

.text-changer-main-section-color {
    color: #04123C;
}

.custom-color-card-type-2-lightblue {
    color: #4683CD !important;
}

.custom-color-card-type-2-darkblue {
    color: #0B1D54 !important;
}

.bg-color-section-card {
    background-color: #e5f8ff;
}

.color-text-footer {
    color: #e5f8ff;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.caveat {
    font-family: "Caveat", cursive !important;
}


/* SCROLLBAR */

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: rgb(44, 42, 42);
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #5e6c7e;
    border-radius: 45px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #2d3950;
}


/* SCROLLBAR */


/* NAVBAR */

.nav-link-celements-styling {
    font-weight: 400;
    font-size: 1.1rem;
    color: black !important;
    text-decoration: none;
}

.nav-link-number-styling {
    font-weight: 600;
    font-size: 1.2rem;
}

.after-effect-styling::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 8%;
    height: 2px;
    width: 90%;
    background-color: rgb(81, 81, 86);
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling:hover::after {
    opacity: 1;
}


/* NAVBAR */


/* MAIN */

.main-margin-top {
    margin-top: -1.5%;
}

.heading-text-main {
    margin-top: 1% !important;
    width: 40vw;
}

.class-for-middle-element-main {
    right: -4.5%;
}

.text-changer-text-heading-main {
    font-size: 1.4vw;
    margin-top: 5%;
}

.text-changer-text-main-main {
    font-size: 2.7vw;
}

#word,
#wordphone,
#word-en,
#wordphone-en {
    /* towa e dobaweno ne e dobaweno ot teb  da znaesh */
    display: inline-block;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.middle-img-styling {
    margin-left: 8%;
}

.position-for-fiirst-column {
    margin-bottom: 228%;
}

.margin-bottom-text-changer {
    margin-bottom: 5%;
}

.right-image-main {
    max-width: 140%;
    margin-top: 6%;
    z-index: 1
}

#star {
    animation: spin 5s ease-in-out 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.first-word-heading-main,
.second-word-heading-main {
    font-size: 4.2vw;
    font-family: comfortaa !important;
    font-weight: bold;
}

.styling-description {
    max-width: 85%;
    font-size: 1.3vw;
    line-height: calc(1em + 0.5rem);
    padding-top: 1%;
}

.sizing-postioning-left-img-2 {
    margin-top: -15.8%;
    right: 92.5%;
    width: 16%;
}

.styling-star-left-2-desktop {
    max-width: 29%;
}

.styling-star-left-1-desktop {
    z-index: 3;
    top: -35%;
    right: -86%;
}

.sizing-postioning-left-img {
    max-width: 120% !important;
    padding-bottom: 88%;
}

.custom-class-tick-mobile {
    width: 10vw;
}

.custom-class-margin-mobile-between-tick {
    padding-left: 5%;
}

.right-image-main-mobile {
    z-index: 1;
    margin-top: 3%;
    margin-left: 11%;
}

.first-word-heading-main-mobile,
.second-word-heading-main-mobile {
    font-size: 7vw;
    font-family: comfortaa;
    font-weight: bold;
}

.heading-text-main-mobile {
    margin-top: -10%;
    width: 70vw;
}

.text-changer-text-heading-main-mobile {
    font-size: 4.4vw;
    margin-top: 10%;
}

.text-changer-text-main-main-mobile {
    font-size: 8.7vw;
}

.word-changer-mobile {
    width: 150vw !important;
}

.styling-star-left-1-mobile {
    z-index: 3;
    top: -15%;
    right: -64%;
}

.styling-star-left-2-mobile {
    max-width: 75%;
}

.positioning-description-mobile-2 {
    font-size: 6vw;
}

.positioning-description-mobile {
    margin-top: -25% !important;
}

.positioning-postdescription-mobile-2 {
    font-size: 4.5vw;
}

.styling-star-left-1-mobile-1 {
    right: 23%;
}

.buttom-styling-under-description::after {
    content: "";
    position: absolute;
    bottom: -18%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #F4A5D2;
}

.arrow-down {
    width: 2%;
}


/* MAIN */


/* ABOTU US */

.sizing-main--about-us {
    margin-top: -10%;
}

.overlay-text {
    right: -11% !important;
    font-size: 7.3vw;
}

.custom-class-for-text-before-arrow {
    font-size: 3vw;
    margin-top: -10%;
}

.custom-class-for-image-about-us-arrow {
    margin-left: 8%;
    margin-top: -4%;
    width: 40%;
}

.custom-class-styling-second-column-description-about-us {
    margin-left: 4% !important;
}

.custom-class-for-sub-heading-under-after-effect {
    font-size: 1.6vw;
}

.custom-class-for-margin-about-us {
    margin-bottom: 10% !important;
}

.styling-for-text-under-image-1-about-us {
    font-size: 1.5vw;
}

.styling-for-text-under-image-about-us {
    content: "";
    height: 0.2vw;
    width: 19%;
    background-color: #4683CD;
}

.sub-heading-class {
    font-size: 1.6vw;
}

.bottom-text-about-us {
    bottom: 0;
    font-size: 5vw;
}

.font-size-mobile-about-us {
    font-size: 5vw;
}

.font-size-mobile-about-us-2 {
    font-size: 8vw;
}

.font-size-mobile-about-us-1 {
    font-size: 8vw;
}

.custom-class-tick-mobile {
    width: 10vw;
}

.custom-class-margin-mobile-between-tick {
    padding-left: 5%;
}


/* ABOTU US */


/* CARDS */

.custom-gap-grid-system-card {
    row-gap: 1rem;
    column-gap: 1rem;
}

.after-effect-styling-2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    height: 2px;
    width: 65%;
    background-color: #0B1D54;
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling-1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    height: 2px;
    width: 65%;
    background-color: #FEFAE4;
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling-1:hover::after,
.after-effect-styling-2:hover::after {
    opacity: 1;
}

.card-img-size-gridsystem {
    max-width: 30% !important;
    height: auto;
}

.card-custom-size {
    width: 90%;
}

.last-img-card-gridsystem {
    width: 80%;
}

.custom-style-for-card-1 {
    background-color: #f6f2e232 !important;
    transition: 0.3s;
    border: none !important;
}

.custom-style-for-card-1:hover {
    background-color: #d1d1f0 !important;
    border-radius: 0.5rem !important;
    box-shadow: 4px 7px 11px 0px rgba(0, 0, 0, 0.2) !important;
}

.custom-style-for-card-2 {
    background-color: #f6f2e232 !important;
    transition: 0.3s;
    border: none !important;
}

.custom-style-for-card-2:hover {
    background-color: #f6efc6 !important;
    border-radius: 0.5rem !important;
    box-shadow: 4px 7px 11px 0px rgba(0, 0, 0, 0.2) !important;
}


/* CARDS */


/* FAQ */

.faq-question {
    border: 0.09rem solid #b5b5b5;
    border-radius: 0.6875rem;
    margin-top: 0.5rem;
}

.panel-title {
    font-size: 24px;
    padding: 10px 48px;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    height: 0;
    z-index: -1;
    opacity: 0;
    transition: .4s ease;
}

.plus {
    font-size: 42px;
    user-select: none;
    transition: .2s ease;
    right: 15px;
    cursor: pointer;
    margin-top: -0.3%;
}

.collapse-all {
    cursor: pointer;
}

.expand-all {
    cursor: pointer;
}

.expand {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.rotate {
    transform: rotate(45deg);
}

.panel {
    display: none;
}


/* FAQ */

.padding-description-sm-devices {
    padding-left: 10% !important;
    padding-right: 10% !important;
}


/* footer */

.laha {
    background-color: #131213;
}

.container-footer {
    margin-top: 10rem;
}

.wave {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    background: url('/photos/wave.png') repeat-x;
    background-size: 250rem 30rem;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        background-position-x: 0;
        background-position-x: -250rem;
    }
}

.wave:nth-child(1) {
    opacity: 0.9;
}

.wave:nth-child(2) {
    opacity: 0.5;
    animation-delay: 0.2s;
    animation-direction: reverse;
}

.wave:nth-child(3) {
    opacity: 0.7;
    animation-delay: 5s;
}


/* footer */

.price-ervices {
    position: relative;
    text-decoration: none;
}

.price-ervices::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -10%;
    left: 0;
    background-color: #F4A5D2;
}

.back-to-ervices {
    border: 1px solid !important;
    width: auto;
    padding: 1% 5%;
    border-radius: 21px !important;
    background: transparent !important;
    font-size: 1.2vw;
    text-decoration: none;
    margin-right: 10%;
    transition: 0.2s;
}

.back-to-ervices:hover {
    border: 1px solid #4683CD !important;
}

.save-hour-services {
    border: 1px solid !important;
    width: auto;
    padding: 1% 21%;
    border-radius: 21px !important;
    background: transparent !important;
    font-size: 1.2vw;
    text-decoration: none;
    transition: 0.2s;
}

.save-hour-services:hover {
    border: 1px solid #F4A5D2 !important;
}

.arrow-services {
    padding-right: 0.8rem;
    font-size: 1vw;
}

.container-slider {
    position: relative;
    width: 85%;
    height: 89vh;
    overflow: hidden;
    user-select: none;
    margin-left: 7.8%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.before,
.after {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.after {
    clip-path: inset(0 0 0 50%);
}

.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #000000;
    cursor: ew-resize;
    z-index: 2;
}

.divier-svg-expand {
    position: relative;
    left: -999%;
    top: 45%;
    width: 2000%;
    z-index: 3;
    user-select: none;
    pointer-events: none;
}

.start-button,
.end-button {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    background-color: rgba(17, 16, 16, 0.748);
    color: #fff;
}

.end-button {
    left: 85%;
}

.font-size-description-services {
    font-size: 1.2em;
}

.overflow-y-hidden-expand {
    overflow-y: hidden !important;
}

.overflow-x-hidden-expand {
    overflow-x: hidden !important;
}

.policy-text-size {
    font-size: 1.5vw;
}

@media (max-width: 992px) {
    .wave {
        background-size: 70rem 10rem;
    }
    .row-services {
        flex-direction: column;
    }
    .container-slider {
        height: 70vh;
        width: 100%;
        margin-left: 0;
    }
    .container-footer {
        margin-top: 0;
    }
    .order-1 {
        order: 2;
    }
    .order-2 {
        order: 1;
    }
    .wave {
        display: none;
    }
    .margin-top-under-992-services {
        margin-bottom: 2%;
        margin-top: 2% !important;
    }
    .price-ervices {
        width: 31%;
        height: 5vh;
        padding: 1% 2%;
        font-size: 4.2vw;
    }
    .back-to-ervices {
        width: 40%;
        height: 5vh;
        padding: 1% 2%;
        font-size: 4.2vw;
    }
    .save-hour-services {
        width: 50%;
        height: 5vh;
        padding: 1% 2%;
        font-size: 4.2vw;
    }
    .arrow-services {
        padding-right: 0.8rem;
        font-size: 3vw;
    }
    .overflow-y-hidden-expand {
        overflow-y: visible !important;
    }
}

@media (max-width: 992px) and (min-width:560px) {
    .price-ervices::after {
        display: none;
    }
    .price-ervices {
        color: #3172d1 !important;
    }
    .save-hour-services,
    .back-to-ervices {
        font-size: 3vw;
    }
    .arrow-services {
        font-size: 2vw;
    }
}

@media (max-width: 827px) {
    .remove-class-under-827 {
        display: none !important;
    }
    .container-footer {
        margin-top: 40%;
    }
    .wave {
        background-size: 70rem 10rem;
    }
    .last-img-card-gridsystem {
        display: none;
    }
    .first-word-heading-main {
        font-size: 7vw;
    }
    .styling-star-left-1-mobile-1 {
        right: 18%;
    }
    .styling-star-left-1-mobile-2 {
        width: 145%;
    }
}

@media (min-width: 828px) {
    .remove-class-above-827 {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 1280px) {
    .custom-margin-mobilenumber {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .after-effect-styling::after {
        display: none;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .panel-title {
        padding: 10px 21px;
        padding-right: 45px;
    }
    .plus {
        margin-top: -2.5%;
    }
}

@media (max-width: 826px) and (min-width: 431px) {
    .positioning-description-mobile {
        margin-top: -25%;
    }
    .styling-star-left-1-mobile {
        top: -18%;
        right: -67%;
    }
    .styling-star-left-2-mobile {
        width: 65%;
    }
    .sizing-middle-img-tablet {
        width: 55% !important;
    }
}

@media (max-width: 1100px) and (min-width: 828px) {
    .styling-description {
        font-size: 1.7vw;
    }
}

@media (min-width: 827px) {
    .row-cols-cb_col_1>.col {
        flex: 0 0 calc(100% / 2 - 0.5rem);
        max-width: calc(100% / 2 - 0.5rem);
    }
}

@media (min-width: 1087px) {
    .row-cols-cb_col_2>.col {
        flex: 0 0 calc(100% / 3 - 0.67rem);
        max-width: calc(100% / 3 - 0.67rem);
    }
}

@media (max-width: 1087px) {
    .display-none-last-image-smaller-resolution {
        display: none !important;
    }
    .last-img-card-gridsystem {
        display: none;
    }
}