@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nanum+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffdf1 !important;
    font-family: "Nanum Gothic", sans-serif !important;
}

.custom-color-card-type-1-pink {
    color: #F4A5D2 !important;
}

.custom-color-card-middle-text {
    font-size: 1.65rem !important;
}

.first-text-section-card {
    color: #010514!important;
}

.custom-color-card-type-2-lightblue {
    color: #4683CD !important;
}

.custom-color-card-type-2-darkblue {
    color: #0B1D54 !important;
}

.bg-color-section-card {
    background-color: #e5f8ff;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.caveat {
    font-family: "Caveat", cursive !important;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: rgb(44, 42, 42);
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #5e6c7e;
    border-radius: 45px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #2d3950;
}


/* SCROLLBAR */


/* NAVBAR */

.nav-link-celements-styling {
    font-weight: 400;
    font-size: 1.1rem;
    color: black !important;
    text-decoration: none;
}

.nav-link-number-styling {
    font-weight: 600;
    font-size: 1.2rem;
}

.after-effect-styling {
    position: relative;
}

.after-effect-styling::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 8%;
    height: 2px;
    width: 90%;
    background-color: rgb(81, 81, 86);
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling:hover::after {
    opacity: 1;
}


/* NAVBAR */


/* ABOTU US */


/* .text-column {
    padding-right: 0;
} */

.overlay-text {
    right: -11% !important;
    font-size: 7.6vw;
    color: #333;
}

.custom-class-for-text-before-arrow {
    font-size: 3vw;
    margin-top: -10%;
}

.custom-class-for-image-about-us-arrow {
    margin-left: 8%;
    margin-top: -4%;
    width: 40%;
}

.custom-class-styling-second-column-description-about-us {
    margin-left: 4% !important;
}

.custom-class-for-sub-heading-under-after-effect {
    font-size: 1.6vw;
}

.custom-class-for-margin-about-us {
    margin-bottom: 10% !important;
}

.styling-for-text-under-image-1-about-us {
    font-weight: bold;
    font-size: 1.7vw;
}

.styling-for-text-under-image-about-us {
    content: "";
    height: 0.2vw;
    width: 19%;
    background-color: #8098E2;
}

.sub-heading-class {
    font-size: 1.6vw;
}

.bottom-text-about-us {
    bottom: 0;
    left: 7%;
    font-size: 5vw;
    color: #333;
}

.font-size-mobile-about-us {
    font-size: 5vw;
}

.font-size-mobile-about-us-2 {
    font-size: 8vw;
    font-weight: bold;
}

.font-size-mobile-about-us-1 {
    font-size: 8vw;
}

.custom-class-tick-mobile {
    width: 10vw;
}

.custom-class-margin-mobile-between-tick {
    padding-left: 5%;
}


/* ABOTU US */


/* CARDS */

.custom-gap-grid-system-card {
    row-gap: 1rem;
    column-gap: 1rem;
}

.after-effect-styling-1,
.after-effect-styling-2 {
    position: relative;
}

.after-effect-styling-2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    height: 2px;
    width: 65%;
    background-color: #0B1D54;
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling-1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    height: 2px;
    width: 65%;
    background-color: #FEFAE4;
    opacity: 0;
    transition: opacity 0.2s;
}

.after-effect-styling-1:hover::after,
.after-effect-styling-2:hover::after {
    opacity: 1;
}

.card-img-size-gridsystem {
    max-width: 30% !important;
    height: auto;
}

.card-custom-size {
    width: 90%;
}

.last-img-card-gridsystem {
    width: 80%;
}

.custom-style-for-card-1 {
    background-color: #f6f2e232 !important;
    transition: 0.3s;
    border: none !important;
}

.custom-style-for-card-1:hover {
    background-color: #d1d1f0 !important;
    border-radius: 0.5rem !important;
    box-shadow: 4px 7px 11px 0px rgba(0, 0, 0, 0.2) !important;
}

.custom-style-for-card-2 {
    background-color: #f6f2e232 !important;
    transition: 0.3s;
    border: none !important;
}

.custom-style-for-card-2:hover {
    background-color: #f6efc6 !important;
    border-radius: 0.5rem !important;
    box-shadow: 4px 7px 11px 0px rgba(0, 0, 0, 0.2) !important;
}

.align-center-text-card-section {
    margin-left: 2.4%;
}


/* CARDS */


/* FAQ */

.faq-question {
    border: 0.09rem solid #b5b5b5;
    border-radius: 0.6875rem;
    margin-top: 0.5rem;
}

.panel-title {
    font-size: 24px;
    padding: 10px 48px;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    height: 0;
    z-index: -1;
    opacity: 0;
    transition: .4s ease;
}

.plus {
    font-size: 42px;
    user-select: none;
    transition: .2s ease;
    right: 15px;
    cursor: pointer;
    margin-top: -0.3%;
}

.collapse-all {
    cursor: pointer;
}

.expand-all {
    cursor: pointer;
}

.expand {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.rotate {
    transform: rotate(45deg);
}

.panel {
    display: none;
}


/* FAQ */

@media (max-width: 827px) {
    .remove-class-under-827 {
        display: none !important;
    }
}

@media (min-width: 828px) {
    .remove-class-above-827 {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 1280px) {
    .custom-margin-mobilenumber {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .after-effect-styling::after {
        display: none;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .panel-title {
        padding: 10px 21px;
        padding-right: 45px;
    }
    .plus {
        margin-top: -2.5%;
    }
}

@media (min-width: 827px) {
    .row-cols-cb_col_1>.col {
        flex: 0 0 calc(100% / 2 - 0.5rem);
        max-width: calc(100% / 2 - 0.5rem);
    }
}

@media (min-width: 1087px) {
    .row-cols-cb_col_2>.col {
        flex: 0 0 calc(100% / 3 - 0.67rem);
        max-width: calc(100% / 3 - 0.67rem);
    }
}

@media (max-width: 1087px) {
    .display-none-last-image-smaller-resolution {
        display: none !important;
    }
}